<div class="min-h-10 bg-[#8D8D8D1A]">
  <div class="container mx-auto px-[30px] py-2 w-full flex justify-between items-center">
    <div class="flex items-center">
      <img class="w-6 h-6 flex items-center justify-center ml-3" src="./assets/dashboard/Logo.svg" alt="" />
      <span class="font-dana text-sm font-normal text-gray-dark flex justify-center items-center">یک مدیر</span>
    </div>
    <div class="flex items-center">
      <div class="flex justify-end items-center text-gray-dark">
        <span class="time ml-3 font-dana text-sm font-normal text-gray-dark">۱۳:۴۸</span>
        <span class="date font-dana text-sm font-normal text-gray-dark">شنبه ۲۸ بهمن ۱۴۰۱</span>
      </div>
      <div class="w-6 h-6 mr-5">
        <img src="./assets/dashboard/Exit.svg" alt="" />
      </div>
    </div>
  </div>
</div>
