<div class="min-h-10">
  <div class="py-2 w-full flex justify-between items-center place-content-between">
    <div class="flex items-center">
      <img class="w-6 h-6 flex items-center justify-center ml-3" src="./assets/dashboard/Logo.svg" alt="" />
      <span class="font-dana text-sm font-normal text-gray-dark flex justify-center items-center">یک مدیر</span>
    </div>
    <div class="flex items-center">
      <div class="flex justify-end items-center text-gray-dark">
        <span class="time ml-3 font-dana text-sm font-normal text-gray-dark" id="clock"></span>
        <span class="date font-dana text-sm font-normal text-gray-dark" id="date"></span>
      </div>
      <a class="w-6 h-6 mr-5" [routerLink]="'/auth/logout'">
        <img src="./assets/dashboard/Exit.svg" alt="" />
      </a>
    </div>
  </div>
</div>
