<div class="bg-gray-300 w-full h-screen p-10">
  <div class="container bg-white m-4 flex overflow-hidden rounded">
    <div
      class="right-container flex flex-col justify-between w-1/5 relative rounded shadow-border"
    >
      <div class="right-header w-full">
        <div class="flex flex-col justify-evenly">
          <div class="flex m-2">
            <div
              class="rounded-full cursor-pointer bg-rose-500 w-4 h-4 text-white"
            ></div>
            <div
              class="rounded-full cursor-pointer bg-yellow-500 w-4 h-4 text-white mx-3"
            ></div>
            <div
              class="rounded-full cursor-pointer bg-green-500 w-4 h-4 text-white"
            ></div>
          </div>
          <div class="flex flex-row items-center place-content-between">
            <div
              class="flex align-center mx-2 h-10 w-52 bg-gray-200 rounded place-content-center items-center"
            >
              <svg
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                viewBox="0 0 24 24"
                class="w-6 h-6"
              >
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
              </svg>
              <div class="h-6">جستجو</div>
            </div>

            <div
              class="cursor-pointer"
              [inlineSVG]="'assets/icons/chat/edit.svg'"
            ></div>
          </div>
        </div>
      </div>

      <div
        class="chat-container flex flex-col mt-4 whitespace-nowrap overflow-auto scrollbar-hide divide-y min-h-full h-[40rem]"
      >
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="assets/icons/chat/bookmark.svg"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                ><i class="pi pi-bookmark"></i> ذخیره شده ها
              </strong>
              <span class="text-gray-500">26/11</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >حسام کامیاران</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />

          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >گروه ایمنی HSE</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >🚨⚠ آتش سوزی شدید در یکی ...</span
            >
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="assets/icons/chat/bookmark.svg"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                ><i class="pi pi-bookmark"></i> ذخیره شده ها
              </strong>
              <span class="text-gray-500">26/11</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >حسام کامیاران</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />

          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >گروه ایمنی HSE</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >🚨⚠ آتش سوزی شدید در یکی ...</span
            >
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="assets/icons/chat/bookmark.svg"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                ><i class="pi pi-bookmark"></i> ذخیره شده ها
              </strong>
              <span class="text-gray-500">26/11</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >حسام کامیاران</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />

          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >گروه ایمنی HSE</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >🚨⚠ آتش سوزی شدید در یکی ...</span
            >
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="assets/icons/chat/bookmark.svg"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                ><i class="pi pi-bookmark"></i> ذخیره شده ها
              </strong>
              <span class="text-gray-500">26/11</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />
          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >حسام کامیاران</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >ایزدخواه، نماینده مجلس:‌ با فروش ا...
            </span>
          </div>
        </div>
        <div class="flex items-center gap-4 p-4 hover:bg-chat-bg-hover">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />

          <div class="flex flex-col">
            <div class="flex place-content-between">
              <strong class="text-slate-900 text-sm font-bold text-right"
                >گروه ایمنی HSE</strong
              >
              <span class="text-gray-500">۰۹:۳۲</span>
            </div>
            <span class="text-slate-500 text-sm font-bold text-right"
              >🚨⚠ آتش سوزی شدید در یکی ...</span
            >
          </div>
        </div>
      </div>
      <div
        class="icon-container flex flex-row absolute bottom-0 right-0 left-0 place-content-between justify-center bg-white h-12 w-full shadow-[#0000001A]"
      >
        <div
          class="w-1/4 text-center self-center cursor-pointer"
          [inlineSVG]="'assets/icons/chat/setting.svg'"
        ></div>
        <div
          class="w-1/4 text-center self-center cursor-pointer"
          [inlineSVG]="'assets/icons/chat/conversation.svg'"
        ></div>
        <div
          class="w-1/4 text-center self-center cursor-pointer"
          [inlineSVG]="'assets/icons/chat/phone.svg'"
        ></div>
        <div
          class="w-1/4 text-center self-center cursor-pointer"
          [inlineSVG]="'assets/icons/chat/user.svg'"
        ></div>
      </div>
    </div>
    <div class="left-container w-4/5 relative shadow-border">
      <div class="header flex place-content-between w-full p-5 shadow-border">
        <div class="flex">
          <img
            class="w-12 h-12 rounded-full"
            src="https://images.unsplash.com/photo-1501196354995-cbb51c65aaea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=facearea&facepad=4&w=256&h=256&q=80"
          />
          <div class="flex flex-col mr-3">
            <span>حسام کامیاران</span>
            <span>آخرین فعالیت: ۸ ساعت پیش</span>
          </div>
        </div>
        <div class="flex w-48">
          <div
            class="w-1/3 text-center self-center cursor-pointer"
            [inlineSVG]="'assets/icons/chat/search.svg'"
          ></div>
          <div
            class="w-1/3 text-center self-center cursor-pointer"
            [inlineSVG]="'assets/icons/chat/phone.svg'"
          ></div>
          <div
            class="w-1/3 text-center self-center cursor-pointer"
            [inlineSVG]="'assets/icons/chat/3dot.svg'"
          ></div>
        </div>
      </div>
      <div
        class="chat-conatainer bg-gray-300 flex flex-col whitespace-nowrap overflow-auto scrollbar-hide min-h-full h-[40rem]"
      >
        <div
          class="flex message bg-chat-self-msg float-right"
          *ngFor="let item of messages"
        >
          {{ item.text }}
        </div>
      </div>
      <div
        class="icon-container flex flex-row absolute bottom-0 right-0 left-0 place-content-between justify-center bg-white h-12 w-full shadow-[#0000001A]"
      >
        <div class="w-11/12 text-right self-center cursor-pointer flex">
          <i
            class="flex-none self-center cursnor-poiter"
            [inlineSVG]="'assets/icons/chat/file.svg'"
          ></i>
          <input
            type="text"
            placeholder="پیامی بنویسید ..."
            class="w-full border-b-2 py-2 mr-3 self-center"
          />
        </div>

        <div
          class="w-1/12 text-left self-center cursor-pointer flex place-content-evenly"
        >
          <i [inlineSVG]="'assets/icons/chat/mic.svg'"></i>
          <i [inlineSVG]="'assets/icons/chat/emoji.svg'"></i>
        </div>
      </div>
    </div>
  </div>
</div>
