<main>
  <div class="right">
    <div class="right-container">
      <div class="flex justify-center items-center m-auto">
        <div class="m-auto"><i class="" [inlineSVG]="'assets/icons/persons.svg'" [cacheSVG]="false"></i></div>
      </div>

      <div class="text-center text">
        <h3 class="text-white text-xl">تسریع فرآیند مدیریت</h3>
        <span class="text-white text-lg"
          >مدیریت منابع انسانی مستقر، ثبت رویداد ها، درخواست مرخصی و یا ماموریت، تشویق و یا تذکر به نیرو و ...</span
        >
      </div>

      <div class="step">
        <div *ngFor="let item of step" class="circle" [class.is-active]="item.isActive"></div>
      </div>

      <div class="square small-square"></div>
      <div class="square big-square"></div>
    </div>
  </div>

  <div class="left">
    <form [formGroup]="myForm" class="left-container" [class.wrong-password]="wrongPassword" (ngSubmit)="submit()">
      <div class="flex justify-center logo">
        <img [src]="'assets/icons/Logo.svg'" alt="" />
      </div>

      <div class="form">
        <label for="user">نام کاربری</label>
        <input
          id="user"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="ایمیل یا نام کاربری"
          formControlName="username"
        />
      </div>

      <div class="form sight-icon">
        <label for="password">رمز عبور</label>
        <input
          id="password"
          type="password"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="رمز ورود به سامانه"
          #inputPass
          formControlName="password"
        />
        <i inlineSVG="assets/icons/Sight.svg" *ngIf="!show" (click)="showPassword()"></i>
        <i inlineSVG="assets/icons/Sight-off.svg" *ngIf="show" (click)="showPassword()"></i>
      </div>

      <div class="check-box" *ngIf="notRobot">
        <div>
          <label>جواب سوال رو به رو</label>
          <div>
            <i inlineSVG="assets/icons/refresh-captcha.svg" (click)="getCaptcha()"></i>
            <div class="image-container">
              <img [src]="'data:image/jpeg;base64,' + captchaImage" alt="captcha" />
            </div>
          </div>
        </div>
        <input
          class="form-group mt-6 h-12 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          type="text"
          placeholder="پاسخ شما"
          formControlName="captchaValue"
        />
      </div>

      <div class="form">
        <button class="btn">ورود</button>
      </div>

      <div class="flex justify-evenly items-center login-with">
        <div class="flex items-center">
          <i class="px-1" inlineSVG="assets/icons/voice-scan.svg"></i>
          <span>ورود با تشخیص صدا</span>
        </div>
        <span class="divider"></span>
        <div class="flex items-center">
          <i class="px-1" inlineSVG="assets/icons/face-scan.svg"></i>
          <span>ورود با تشخیص چهره</span>
        </div>
      </div>

      <div class="reset-pass">
        <div class="px-1">فراموشی رمز عبور؟</div>
        <span (click)="displayModal = true">ثبت تیکت</span>
      </div>

      <div class="form-group error-message" *ngIf="wrongPassword">
        <i inlineSVG="assets/icons/Error.svg"></i>
        <span class="px-3">نام کاربری یا رمز عبور اشتباه است.</span>
      </div>
    </form>
  </div>
</main>
<p-dialog
  header="فراموشی رمز عبور"
  [(visible)]="displayModal"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '700px' }"
  [draggable]="false"
  [resizable]="false"
  class="modal-custom"
>
  <div class="template">
    <div class="form">
      <label for="firstName">نام</label>
      <div class="sight-icon">
        <input
          id="firstName"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="نام"
        />
      </div>
      <label for="lastName">نام خانوادگی</label>
      <div class="sight-icon">
        <input
          id="lastName"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="نام خانوادگی"
        />
      </div>
      <label for="code">کد پرسنلی</label>
      <div class="sight-icon">
        <input
          id="code"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="کد پرسنلی"
        />
      </div>
      <label for="nationalCode">کد ملی</label>
      <div class="sight-icon">
        <input
          id="nationalCode"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="کد ملی"
        />
      </div>
    </div>
  </div>
  <div class="btns">
    <div (click)="displayModal = false">انصراف</div>
    <div class="add">ثبت درخواست</div>
  </div>
</p-dialog>
