<main>
  <div class="left">

    <form [formGroup]="myForm" class="left-container">
      <div class="flex justify-center logo">
        <i [inlineSVG]="'assets/icons/lock.svg'"></i>
      </div>

      <div class="more-security">
        <h5>برای امنیت بیشتر رمز عبور خود را تغییر دهید</h5>
      </div>

      <div class="form sight-icon">
        <label for="user">رمز عبور جدید</label>
        <input id="user" type="password"
               class="mt-1 h-12 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
               placeholder="رمز عبور جدید خود را وارد نمایید"
               #inputPass1 formControlName="password"
               NumberValidatorDirective="/(?=[A-Za-z@#$%^&+!=]+$)^(?=.*[a-z])(?=.*[A-Z]).*$/"/>
        <i inlineSVG="assets/icons/Sight.svg" *ngIf="!show1" (click)="showPassword(true)"></i>
        <i inlineSVG="assets/icons/Sight-off.svg" *ngIf="show1" (click)="showPassword(true)"></i>
      </div>

      <div class="form sight-icon">
        <label for="password">تکرار رمز عبور جدید</label>
        <input id="password" type="password"
               class="mt-1 h-12 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
               placeholder="رمز عبور جدید خود را وارد نمایید"
               #inputPass2 formControlName="confirmPassword"/>
        <i inlineSVG="assets/icons/Sight.svg" *ngIf="!show2" (click)="showPassword()"></i>
        <i inlineSVG="assets/icons/Sight-off.svg" *ngIf="show2" (click)="showPassword()"></i>
      </div>
      <div>
        {{password.errors | json }}
      </div>

      <div class="errors" *ngIf="!myForm.valid">
        <p>رمز عبور شما باید:</p>
        <div
          *ngIf="myForm.controls['password'].hasError('minlength')">
          <i inlineSVG="assets/icons/Dismiss.svg"></i>
          حداقل ۸ کاراکتر باشد
        </div>
        <ng-container *ngIf="password.errors">
          <div

            *ngIf="password.errors['hasUpper'] || password.errors['hasLower']">
            <i inlineSVG="assets/icons/Dismiss.svg"></i>
            شامل حروف بزرگ و کوچک انگلیسی باشد
          </div>

          <div
            *ngIf="password.errors['hasNumber']">
            <i inlineSVG="assets/icons/Dismiss.svg"></i>
            شامل حداقل یک عدد انگلیسی باشد
          </div>
        </ng-container>
      </div>

      <div class="check-box" *ngIf="notRobot">

        <label [(ngModel)]="checked">من ربات نیستم</label>
      </div>

      <div class="form">
        <button class="btn" (click)="test()">تائید و تغییر رمز عبور</button>
      </div>

      <div class="form-group error-message" *ngIf="wrongPassword">
        <i inlineSVG="assets/icons/Error.svg"></i>
        <span class="px-3">نام کاربری یا رمز عبور اشتباه است.</span>
      </div>

    </form>
  </div>
</main>
