<main *ngIf="!loading">
  <div class="left">
    <form [formGroup]="myForm" class="left-container">
      <div class="flex justify-center logo">
        <i [inlineSVG]="'assets/icons/lock.svg'"></i>
      </div>

      <div class="more-security">
        <h5>برای امنیت بیشتر رمز عبور خود را تغییر دهید</h5>
      </div>

      <div class="form sight-icon">
        <label for="user">رمز عبور جدید</label>
        <input
          id="user"
          type="password"
          placeholder="رمز عبور جدید خود را وارد نمایید"
          class="form-group mt-1 h-12 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          #inputPass1
          formControlName="newPassword"
        />
        <i inlineSVG="assets/icons/Sight.svg" *ngIf="!show1" (click)="showPassword(true)"></i>
        <i inlineSVG="assets/icons/Sight-off.svg" *ngIf="show1" (click)="showPassword(true)"></i>
      </div>

      <div class="form sight-icon">
        <label for="password">تکرار رمز عبور جدید</label>
        <input
          id="password"
          type="password"
          placeholder="رمز عبور جدید خود را وارد نمایید"
          class="form-group mt-1 h-12 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          #inputPass2
          formControlName="confirmPassword"
        />
        <i inlineSVG="assets/icons/Sight.svg" *ngIf="!show2" (click)="showPassword()"></i>
        <i inlineSVG="assets/icons/Sight-off.svg" *ngIf="show2" (click)="showPassword()"></i>
      </div>

      <div class="form">
        <div>
          <p>جواب سوال رو به رو</p>
          <div>
            <img [src]="'data:image/jpeg;base64,' + captchaImage" alt="captcha" />
          </div>
        </div>
        <input
          class="form-group mt-1 h-12 px-3 py-2 bg-white border shadow-sm border-slate-300 placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          type="text"
          placeholder="پاسخ شما"
          formControlName="captchaValue"
        />
      </div>

      <div class="errors">
        <p>رمز عبور شما باید:</p>
        <div>
          <i
            inlineSVG="assets/icons/Dismiss.svg"
            *ngIf="
              myForm.controls['newPassword']?.hasError('minlength') ||
              myForm.controls['newPassword']?.hasError('required')
            "
          ></i>
          <i
            inlineSVG="assets/icons/Check.svg"
            *ngIf="
              !myForm.controls['newPassword']?.hasError('minlength') &&
              !myForm.controls['newPassword']?.hasError('required')
            "
          ></i>
          حداقل ۸ کاراکتر باشد
        </div>
        <ng-container *ngIf="password.errors">
          <div>
            <i
              inlineSVG="assets/icons/Dismiss.svg"
              *ngIf="password.errors['hasUpper'] || password.errors['hasLower']"
            ></i>
            <i
              inlineSVG="assets/icons/Check.svg"
              *ngIf="!password.errors['hasUpper'] && !password.errors['hasLower']"
            ></i>
            شامل حروف بزرگ و کوچک انگلیسی باشد
          </div>

          <div>
            <i inlineSVG="assets/icons/Dismiss.svg" *ngIf="password.errors['hasNumber']"></i>
            <i inlineSVG="assets/icons/Check.svg" *ngIf="!password.errors['hasNumber']"></i>
            شامل حداقل یک عدد انگلیسی باشد
          </div>
        </ng-container>
      </div>

      <div class="check-box" *ngIf="notRobot">
        <label [(ngModel)]="checked">من ربات نیستم</label>
      </div>

      <div class="form">
        <button
          class="btn"
          (click)="submit()"
          [class.is-active]="
            !password.errors['hasNumber'] &&
            !password.errors['hasUpper'] &&
            !password.errors['hasLower'] &&
            !myForm.controls['newPassword']?.hasError('minlength') &&
            !myForm.controls['newPassword']?.hasError('required')
          "
        >
          تائید و تغییر رمز عبور
        </button>
      </div>

      <div class="form-group error-message" *ngIf="wrongPassword">
        <i inlineSVG="assets/icons/Error.svg"></i>
        <span class="px-3">نام کاربری یا رمز عبور اشتباه است.</span>
      </div>
    </form>
  </div>
</main>
