<div class="modal-content">
  <div class="information">
    <img alt="" [src]="userInfo?.profileImageUrl ? userInfo?.profileImageUrl : 'assets/icons/profile-image.svg'" />
    <div>
      <p>
        {{ userInfo?.personnel?.firstName ?? userInfo?.firstName ?? '-' }}
        {{ userInfo?.personnel?.lastName ?? userInfo?.lastName }}
      </p>
      <span>{{ userInfo?.state }} - {{ userInfo?.city }}</span>
    </div>
  </div>
  <p-tabView class="tab-custom">
    <p-tabPanel header="نقش ها">
      <div class="btns mb-5" *ngIf="newRole">
        <p-autoComplete
          placeholder="نقش مورد نظر خود را وارد کنید."
          [(ngModel)]="searchTxtRole"
          (ngModelChange)="searchingRole()"
          [suggestions]="roles"
          field="title"
          class="custom-auto-complete role-auto-complete"
        ></p-autoComplete>
        <div class="add" (click)="addRole()">ذخیره</div>
      </div>
      <div class="data" *ngIf="!newRole">
        <ng-container *ngIf="userInfo?.roles?.length; else showMessage">
          <div *ngFor="let item of userInfo?.roles">
            <p>{{ item?.title ?? '-' }}</p>
            <img
              *ngIf="userInfo?.roles?.length > 1"
              src="assets/icons/recycle.svg"
              (click)="deleteRole($event, item)"
              alt=""
            />
          </div>
        </ng-container>
        <ng-template #showMessage>
          <div class="flex flex-wrap" style="justify-content: center !important">
            <i inlineSVG="assets/icons/alert.svg"></i>
            <div class="w-full text-gray-mid mt-3 text-center">تا کنون نقشی برای این کاربر ایجاد نشده</div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="!newRole" class="add-new-btn" (click)="newRole = true">
        <i inlineSVG="assets/icons/Add-blue.svg"></i>
        افزودن نقش جدید
      </div>
      <div *ngIf="newRole" class="add-new-btn" (click)="newRole = false">انصراف</div>
    </p-tabPanel>
    <p-tabPanel header="حوزه های فعالیت">
      <div class="data">
        <div *ngFor="let item of [{}, {}, {}, {}, {}, {}]">
          <p>راننده کامیونت بنز</p>
        </div>
      </div>
    </p-tabPanel>
    <p-tabPanel header="گروه های کاربری">
      <div class="btns mb-5" *ngIf="newGroup">
        <p-autoComplete
          placeholder="گروه کاربری مورد نظر خود را وارد کنید."
          [(ngModel)]="searchTxtGroup"
          (ngModelChange)="searchingGroup()"
          [suggestions]="groups"
          field="title"
          class="custom-auto-complete group-auto-complete"
        ></p-autoComplete>
        <div class="add" (click)="addGroup()">ذخیره</div>
      </div>
      <div class="data" *ngIf="!newGroup">
        <ng-container *ngIf="userInfo?.groups?.length; else showEmpty">
          <div *ngFor="let item of userInfo?.groups">
            <p>{{ item?.title }}</p>
            <i inlineSVG="assets/icons/recycle.svg"></i>
          </div>
        </ng-container>
        <ng-template #showEmpty>
          <div class="flex flex-wrap" style="justify-content: center !important">
            <i inlineSVG="assets/icons/alert.svg"></i>
            <div class="w-full text-gray-mid mt-3 text-center">تا کنون گروهی برای این کاربر ایجاد نشده</div>
          </div>
        </ng-template>
      </div>
      <div *ngIf="!newGroup" class="add-new-btn" (click)="newGroup = true">
        <i inlineSVG="assets/icons/Add-blue.svg"></i>
        گروه کاربری جدید
      </div>
      <div *ngIf="newGroup" class="add-new-btn" (click)="newGroup = false">انصراف</div>
    </p-tabPanel>
  </p-tabView>
</div>
<p-confirmPopup></p-confirmPopup>
