<div class="py-6 px-[30px] w-full grid gap-[30px] dashboard-cont grid-cols-[282px_minmax(595px,_1fr)_283px]">
  <div class="left-col bg-white w-full rounded-3xl"></div>
  <div class="center-col bg-white w-full rounded-3xl"></div>
  <div class="right-col bg-white w-full rounded-3xl p-4">
    <div class="flex flex-col">
      <div class="flex items-start w-full">
        <img class="w-6 h-6 ml-5" src="./assets/dashboard/History.svg" alt="" />
        <div class="flex flex-col">
          <div class="title text-gray-dark font-dana font-normal">سوابق ورود به سامانه</div>
          <div class="subtitle text-background font-dana font-normal text-sm mt-2">به روز رسانی: ۱ دقیقه پیش</div>
        </div>
      </div>
    </div>
  </div>
</div>
