<aside>
  <div class="items">
    <ul>
      <li *ngFor="let item of items" [routerLink]="item?.link ?? null" [routerLinkActive]="'active'">
        <i [inlineSVG]="item.icon"></i>
        {{ item.title }}
      </li>
    </ul>
  </div>
  <div class="exit-container">
    <div class="exit">
      <span>یک مدیر نسخه ۰.۰.۱</span>
      <div class="flex items-center" (click)="exit()">
        <i inlineSVG="assets/icons/exit-red.svg"></i>
        خروج از داشبورد
      </div>
    </div>
  </div>
</aside>
