@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'dana-fanum';
  font-weight: 300;
  src: url('/assets/fonts/dana-fanum-regular.woff') format('woff');
  src: url('/assets/fonts/dana-fanum-regular.woff2') format('woff2');
  src: url('/assets/fonts/dana-fanum-regular.eot') format('eot');
}

@font-face {
  font-family: 'dana-fanum';
  font-weight: 500;
  src: url('/assets/fonts/dana-fanum-medium.woff') format('woff');
  src: url('/assets/fonts/dana-fanum-medium.woff2') format('woff2');
  src: url('/assets/fonts/dana-fanum-medium.eot') format('eot');
}

* {
  direction: rtl;
  font-family: 'dana-fanum', sans-serif;
}

:root {
  --primary: #00539a;
  --secondary: #0072c3;
  --background: #f4f4f4;
  --gray-mid: #8d8d8d;
  --gray-dark: #262626;
  --danger: #da1e28;
}

.form-group {
  @apply border-none p-[15px] rounded-lg;
  box-shadow: inset 0px -1px 0px #e0e0e0;
}

input:focus-visible {
  outline: none;
}
svg {
  display: inline-block;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

//import custom components styles
/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@import './assets/components/p-carousel';

/*------------------------- overRide ant style -----------------------------*/

// .ant-input-focused, .ant-input:focus {
//   transition: 0s;
//   border: none;
//   box-shadow: none;
//   outline: 2px solid var(--primary);
// }

// .ant-checkbox-wrapper span {
//   color: var(--gray-dark);
//   font-size: 15px;
// }

// .ant-checkbox-input:focus + .ant-checkbox-inner, .ant-checkbox-wrapper:hover .ant-checkbox-inner, .ant-checkbox:hover .ant-checkbox-inner {
//   border-color: var(--gray-dark);
// }

// .ant-checkbox-checked .ant-checkbox-inner {
//   border-color: var(--gray-dark);
//   background-color: var(--gray-dark);
// }

// .ant-checkbox-wrapper:hover .ant-checkbox::after, .ant-checkbox:hover::after {
//   visibility: hidden;
// }

/*------------------------- overRide ant style -----------------------------*/
