<div class="component-container">
  <div class="header">
    <span>تیکت ها</span>
    <div class="return" routerLink="/dashboard">
      بازگشت
      <i inlineSVG="assets/icons/return-arrow.svg"></i>
    </div>
  </div>

  <div class="table">
    <p-table
      #dt
      dataKey="id"
      [rowHover]="true"
      class="users-table"
      [value]="tickets"
      [rows]="10"
      [showCurrentPageReport]="true"
      [rowsPerPageOptions]="[10, 25, 50]"
      currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
      [filterDelay]="0"
      [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
    >
      <ng-template pTemplate="caption">
        <div class="table-header">
          <div class="text-[18px] font-bold">لیست تیکت ها</div>
          <div class="flex items-center">
            <span class="p-input-icon-left w-[500px]">
              <i class="pi pi-search"></i>
              <input class="search-input" pInputText type="text" placeholder="جستجو" />
            </span>
            <div class="mr-10">
              <i class="cursor-pointer" inlineSVG="assets/icons/refresh.svg"></i>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr>
          <th pSortableColumn="name" style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              شماره تیکت
              <p-sortIcon class="mr-4" field="name"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="country.name" style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              نام
              <p-sortIcon class="mr-4" field="country.name"></p-sortIcon>
            </div>
          </th>
          <th pSortableColumn="representative.name" style="min-width: 10rem">
            <div class="flex justify-content-between align-items-center">
              نام خانوادگی
              <p-sortIcon class="mr-4" field="representative.name"></p-sortIcon>
            </div>
          </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">نوع درخواست</div>
          </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">تاریخ ثبت</div>
          </th>
          <th style="min-width: 8rem">
            <div class="flex justify-content-between align-items-center">عملیات</div>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-user>
        <tr class="p-selectable-row">
          <td style="color: #0f62fe !important">
            {{ user?.personnel?.personnelCode }}
          </td>
          <td>
            <span class="image-text">{{ user?.personnel?.firstName }}</span>
          </td>
          <td>
            <span class="image-text">{{ user?.personnel?.lastName }}</span>
          </td>
          <td>{{ user.state }} - {{ user.city }}</td>
          <td>
            {{ user.activity }}
          </td>
          <td>
            <div *ngIf="false" class="check-ticket">بررسی تیکت</div>
            <div *ngIf="true" class="reviewed">بررسی شده</div>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="8">تیکتی یافت نشد.</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div>
    <p-paginator class="paginator-custom" [rows]="10" [totalRecords]="120"></p-paginator>
  </div>
</div>
<p-dialog
  [header]="isCheckingTicket ? 'تغییر رمز حساب' : 'جزئیات تیکت'"
  [(visible)]="displayModal"
  [closable]="true"
  [modal]="true"
  [style]="{ width: '700px' }"
  [draggable]="false"
  [resizable]="false"
  class="modal-custom"
>
  <div class="template" *ngIf="!isCheckingTicket">
    <div class="text-gray-mid">درخواست دهنده</div>
    <div class="information py-[16px] border-solid border-gray-light border-b-[1px]">
      <div class="image-container">
        <img alt="" [src]="userInfo?.profileImageUrl ? userInfo?.profileImageUrl : 'assets/icons/profile-image.svg'" />
      </div>
      <div>
        <p>محمد جواد ابوترابی</p>
        <span>کد پرسنلی ۱۲۳۴۵۶۷۸</span>
      </div>
    </div>
    <div class="text-gray-mid mt-[16px]">شرح درخواست</div>
    <div class="information pt-[16px]">
      <div class="image-container bg-cyan-10">
        <i [inlineSVG]="'assets/icons/faq.svg'"></i>
      </div>
      <div>
        <p>فراموشی رمز عبور</p>
        <span>لحظاتی پیش</span>
      </div>
    </div>
  </div>
  <div class="template" *ngIf="isCheckingTicket">
    <div class="information">
      <div class="image-container">
        <img alt="" [src]="userInfo?.profileImageUrl ? userInfo?.profileImageUrl : 'assets/icons/profile-image.svg'" />
      </div>
      <div>
        <p>محمد جواد ابوترابی</p>
        <span>کد پرسنلی ۱۲۳۴۵۶۷۸</span>
      </div>
    </div>
    <div class="mt-[16px] flex items-center">
      <i inlineSVG="assets/icons/Error-3.svg" class="ml-3"></i>
      رمز جدید به طور خودکار توسط سیستم ساخته میشود.
    </div>

    <div class="form">
      <label for="user" class="text-neutral text-[12px]">رمز عبور جدید</label>
      <div class="flex items-center sight-icon">
        <input
          id="user"
          #inputPass
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="رمز عبور جدید"
        />
        <i class="icon" inlineSVG="assets/icons/Sight.svg" *ngIf="!show" (click)="showPassword()"></i>
        <i class="icon" inlineSVG="assets/icons/Sight-off.svg" *ngIf="show" (click)="showPassword()"></i>
        <i inlineSVG="assets/icons/refresh.svg"></i>
        <i inlineSVG="assets/icons/Copy.svg"></i>
      </div>
    </div>

    <label for="check" class="flex items-center mt-[16px]">
      <p-checkbox [binary]="true" inputId="check" class="forget-password-check-box"></p-checkbox>
      <div class="pr-[16px] pt-1">اطلاع رسانی به مدیر مستقیم</div>
    </label>

    <div class="form">
      <label for="user" class="text-neutral text-[12px]">شماره تماس / ایمیل</label>
      <div class="flex items-center sight-icon">
        <input
          id="user1"
          class="form-group mt-1 h-12 px-3 py-2 bg-white placeholder-slate-400 focus:outline-none focus:border-primary focus:ring-primary block w-full rounded-md sm:text-sm focus:ring-1"
          placeholder="شماره تماس / ایمیل مدیر مستقیم"
        />
      </div>
    </div>
  </div>
  <div class="btns">
    <div (click)="displayModal = false">انصراف</div>
    <div class="add" (click)="checkTicket()" *ngIf="!isCheckingTicket">تائید تیکت</div>
    <div class="add" *ngIf="isCheckingTicket">تغییر رمز عبور</div>
  </div>
</p-dialog>
